<article id="before-article" class="col-md-10 col-md-offset-1">
    <section>
        <h3>After 1 Wrap</h3>
        <img src="img/one-wrap-1.png">
        <img src="img/one-wrap-2.png">
        <img src="img/one-wrap-3.png">
    </section>
    <section>
        <h3>After 2 Wraps</h3>
        <img src="img/two-wraps-1.png">
    </section>
    <section>
        <h3>After 4 Wraps</h3>
        <img src="img/four-wraps-1.png">
    </section>
    <section>
        <h3>After 7 Wraps</h3>
        <img src="img/seven-wraps-1.png">
    </section>
</article>
