<article id="howto" class="col-md-10 col-md-offset-1">
    <section>
        <h3>How To Wrap</h3>
        <iframe width="560" height="315" src="//www.youtube.com/embed/3baxdSXHFt4" frameborder="0" allowfullscreen></iframe>
    </section>
    <section>
        <div class="backing">
            <h3>Detailed Instructions</h3>
            <ol>
                <li>
                    Before doing anything, take photos of the area you are going to wrap, both front and side views. 
                    Make sure that the photos are <span class="highlight">CLEAR</span>, not tilted, appropriate distance 
                    from the mirror, pants are down low enough and not covering any pooch or belly, etc. You will 
                    <span class="highlight">WANT</span> these for after. <span class="highlight">This is not optional.</span> I didn’t even realize how much my body changed because I see myself every day. 
                    When I put my before and after photos side by side, I was in shock. 
                </li>
                <li>
                    When you take the body wrap off, there will be lotion leftover on the area you applied it to. 
                    <span class="highlight">DO NOT WIPE OFF.</span> Rub it into your skin until it’s basically gone.
                </li>
                <li>
                    <span class="highlight">Immediately take your photos again</span>, and continue taking them 
                    <span class="highlight">each morning over the next 3 days.</span> And again, make sure they are 
                    <span class="highlight">CLEAR</span>, in the same positions as your before photos, clothing is not 
                    covering anything that needs to be seen, distance is the same from the mirror as your before photos, etc. 
                    <span class="highlight">MAKE SURE THEY ARE ALL CONSISTENT WITH YOUR BEFORE PHOTOS.</span> 
                    When you go back to view your before and after, please make sure not to just scroll through your 
                    cell phone. You won’t be able to actually see the difference that way. Use an app like “picstitch” 
                    and put them <span class="highlight">SIDE BY SIDE</span>, before any wraps, and then the after.
                </li>
                <li>
                    Drink at least <span class="highlight">half your body weight</span> in ounces of water 
                    <span class="highlight">THE DAY YOU WRAP & EACH DAY</span> for the next 3 days. 
                    (ie: if you weigh 200 lbs, drink 100 ounces of water – that’s 6 bottled waters) NO EXCUSES. 
                    <span class="highlight">If you don’t see results, you didn’t drink enough water.
                    <div id="water"><img src="img/water.png"/></div>
                </li>
                <li>
                    <span class="highlight">RESULTS!</span> 95% of people will have results on the first treatment. 
                    If you don’t, please check to make sure you did everything mentioned above. Be sure to use all 4 wraps 
                    on the <span class="highlight">SAME</span> body area before deciding on whether or not you had results. 
                    <span class="highlight">Please do not use one wrap and then say it didn’t work.</span>
                    The results and time frames are completely dependent on the individual, body size, type, chemistry, 
                    diet and lifestyle, amount of junk in the body, and how slow or fast the body wants to react to 
                    the ingredients in the wrap. You can see great results after just one wrap — and others may not 
                    see anything until using additional wraps. But its important to always remember that 4 wraps (1 box) 
                    on the <span class="highlight">SAME</span> body area is what is considered a full treatment.
                </li>
                <li>
                    <span class="highlight">Wrap one area at a time only.</span> When wrapping your stomach, 
                    no other wraps can be used. Your arms can be wrapped at the same time by cutting one in half. 
                    Depending on the size of your legs, you can choose to cut one in half, or use one full wrap per leg. 
                    You cannot wrap your arms and legs at the same time. Legs separately, arms separately, and 
                    stomach separately. Not any of them together.
                </li>
            </ol>
        </div>
    </section>
</article>